.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100vw; /* ใช้ความกว้างทั้งหมดของหน้าจอ */
  height: 100vh; /* ใช้ความสูงทั้งหมดของหน้าจอ */
}

.wrapper .box {
  margin: 0; /* ลบ margin เพื่อให้ชิดกัน */
  background-color: #eeeeee;
  border-radius: 7px;
  overflow: hidden; /* ซ่อนส่วนที่เกินออกจากกรอบ */
}

.box1 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
  overflow: hidden;
}

.box2 {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.box3 {
  grid-column-start: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  height:auto;
}

.box4 {
  grid-column-start: 1; /* เริ่มที่คอลัมน์ที่ 1 */
  grid-column-end: 4;   /* จบที่คอลัมน์ที่ 4 */
  grid-row-start: 1;    /* เริ่มที่แถวที่ 1 */
  grid-row-end: 4;      /* จบที่แถวที่ 4 */
  width: 75%;            /* ความกว้าง 75% */
  height: 100%;           /* ความสูง 75% */
  margin: 0 auto;        /* จัดกลาง */
  overflow: hidden; /* ซ่อนส่วนที่เกินออกจากกรอบ */
}

.topNToggleBtn {
  margin-left: 0.5rem;
  color: #ff5200;
  background: #000;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(30, 1fr); /* 9 คอลัมน์ */
  grid-template-rows: repeat(30, 1fr); /* 9 แถว */
  gap: 0; /* ไม่มีช่องว่าง */
  width: 100%;
  height: 100 b %;
}

.grid-item {
  width: 100%;
  height: 100%;
}

.grid-item img {
  max-width: 100%;
  max-height: auto;
  object-fit: 100%; /* ทำให้รูปภาพพอดีกรอบโดยไม่เสียสัดส่วน */
  display: cover;
}
